@page
@using Microsoft.Extensions.Localization
@using QuanLySangKien.Localization
@using QuanLySangKien.Web.Pages.QuanLySangKien
@model QuanLySangKien.Web.Pages.QuanLySangKien.IndexModel
@inject IStringLocalizer<QuanLySangKienResource> L

@{
}
<h1>QuanLySangKien</h1>
<p>@L["SamplePageMessage"]</p>
